/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-nov-2016, 13:52:52
    Author     : Kathleen
*/
.filterbox{
    text-align: right;
}

.gridContent{
    padding-top: 10px;
    padding-bottom: 10px;
}

.message {
    color:black;
    padding:10px;
    font-size: 10pt;
    margin-top:10px;
    margin-bottom:10px;
}

.languageBox {
    float:right; 
    padding:15px;   
}

.loginInfo
{
    float:left;
    padding-top:25px;
    padding-left:25px;
}

h1 {
    margin-bottom: 20px;
}

.tooltip-inner {
  width: 200px;
}

#report {
    background-color: #ffffff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width:60%;
    height:auto;
    
}

